<% layout('layout') %>
<h1><%- data %></h1>
<!--<form method="post">
<p>帳號:</p>
<input type="text" id="account" placeholder="account" name="account"><br>
<p>密碼:</p>
<input type="text" id="password" placeholder="password" name="password"><br>
<p>確認密碼:</p>
<input type="text" id="repassword" placeholder="repassword" name="repassword"><br>
<p>信箱:</p>
<input type="text" id="email" placeholder="email" name="email"><br>
<p>使用者名稱:</p>
<input type="text" id="userName" placeholder="username" name="username"><br>
<p>性別:</p>
<input type="text" id="sex" placeholder="sex" name="sex"><br>
<p>手機號碼:</p>
<input type="text" id="phoneNumber" placeholder="phoneNumber" name="phoneNumber"><br>
<p>地址:</p>
<input type="text" id="address" placeholder="address" name="address"><br>
<input type="submit" id="register" value="register" name="register">
</form>-->
