<% layout('layout') %>
<p>帳號:</p>
<input type="text" id="acount" placeholder="acount"><br>
<p>密碼:</p>
<input type="text" id="password" placeholder="password"><br>
<p>確認密碼:</p>
<input type="text" id="repassword" placeholder="repassword"><br>
<p>信箱:</p>
<input type="text" id="email" placeholder="email"><br>
<p>使用者名稱:</p>
<input type="text" id="userName" placeholder="username"><br>
<p>性別:</p>
<input type="text" id="sex" placeholder="sex"><br>
<p>手機號碼:</p>
<input type="text" id="phoneNumber" placeholder="phoneNumber"><br>
<p>地址:</p>
<input type="text" id="address" placeholder="address"><br>
<input type="button" id="register" value="register">